
/* import RightArrow from '../../assets/images/right-arrow.png' */

.hospital-itm-wrp{
    background-color: #337782;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 2px solid darkgrey;
}
.hospital-itm-wrp .collapse.show{
    transition: transform 1s linear;
}
.hospital-btn{
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
}
.hospital-btn:focus{
    outline: none;
}
.hospital-btn h5::after{
    content: '';
    position: absolute;
    right: 0;
    transition: all 0.75s 0.25s;
    height:20px;
    width:20px;
    background-image: url('../../assets/images/right-arrow.png');
    background-repeat: no-repeat;
    top: 10px;
}

.hospital-btn.collapsed h5::after{
    transform: rotate(90deg);
    transition: all 0.75s 0.25s;
}

.hospital-figs-wrp{
    padding-left: 12px;
    background-color: #f0f8ffad;
    border-radius: 5px;
    padding: 10px;
}

.hospital-name{
    color:white;
    font-weight: 700;
}