

.itm-wrp{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin:20px 0px;
    height:180px;
}

.figure-text{
    font-size: 48px;
}