

.page-heading{
    font-family: monospace;
    margin-top: 30px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

.summary-cases-wrp{
    margin-top:40px;
    font-weight:700;
}

.section-heading{
    text-transform: uppercase;
    font-weight:700;
}

.chart-heading{
    text-align: center;
}